* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.flex-loading {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin: 0 auto;
  align-items: center;
}
.loading {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  background-color: black;

  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
